@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

 body {
   background-color: white;
   font-family: 'Droid Sans', sans-serif;
 }

 header {
   background-color: #e11313;
   color: #ffffff;
 }

 header a {
   color: #ffffff;
 }


 .li1 a:focus {
   text-decoration: none;
   color: #ffffff;
 }

 header ul .li1:hover {
   text-decoration: none;
   color: #FFFFFF;
   transition: 0.5s ease-in-out;
   -webkit-transition: 0.35s ease-in;
   transition: 0.35s ease-in;
   text-decoration: none;
   background-color: #000000;
 }


 .headera {
   margin: 10px 0px 0px 0px;
   padding: 0;
   font-size: 65px;
   text-decoration: none;
 }

 .headera:focus {
   color: #ffffff;
   text-decoration: none;
 }

 .headera:hover {
   text-decoration: none;
   color: #ffffff;
 }

.menu {
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  color: #ffffff;
  text-decoration: none;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li {
  position: relative;
  float: left;
  transition: 0.35s ease-in;
  -webkit-transition: 0.35s ease-in;
}

.li1 {
  text-decoration: none;
}

.li1:hover {
  text-decoration: none;
}

.li1:active {
  text-decoration:
}

.menu ul li a {
  display: inline-block;
  padding: 38px;
  font-size: 24px;
  text-transform: uppercase;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}


.menu ul li ul {
  display: none;
  position: absolute;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.menu ul li ul li {
  padding: 0;
  margin: 0;
}

.menu ul li ul li a {
  padding: 10px 31px;
  background-color: #3a3a3c;
  color: #ffffff;
  width: 200px;
  font-size: 14px;
  display: block;
}



.menu ul li:hover ul {
  display: block;
  z-index: 9000;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.menu ul li:hover ul a:hover  {
  background-color: #242426;
  transition: 0.4s;
}


/* Первый слайд */

.slider1 {
  background-repeat: no-repeat;
  background-image: url(images/truck1.jpg);
  height: 870px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.slider1content {
  padding: 250px 0px 10px 0px;
  margin: 0;
  color: #ffffff;
  width: auto;
}

.slider1content .header {
  font-size: 74px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

/* Второй слайд */

.slider2 {
  background-color: #e11313;
  color: #ffffff;
}

.slider2text {
  margin: 0;
  padding: 63px 0px 70px 0px;
  text-align: center;
}

.slider2text h1 {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
}

.slider2text h4 {
  font-weight: bold;
  padding: 20px 0px 25px 0px;
}

.slider2text p {
  margin: 0;
  padding: 0px 0px 50px 0px;
}

.slider2text a {
  color: #242426;
  background-color: #ffffff;
  padding: 12px 25px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.slider2text a:hover {
  text-decoration: none;
  background-color: #242426;
  color: #ffffff;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}


/* Третий слайд */

.slider3 {
  margin: 0;
  padding: 0px 0px 0px 0px;
    background-color: #242426;
}

.slider3text {
  background-color: #242426;
  color: #ffffff;
  padding: 63px 22px 0px 0px;

}

.slider3text h1 {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.slider3text h4 {
  font-weight: bold;
  padding: 20px 0px 30px 0px;
}

.slider3text p {
  margin: 0;
  padding: 0px 0px 60px 0px;
}

.slider3text a {
  color: #ffffff;
  background-color: #e11313;
  padding: 12px 25px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.slider3text a:hover {
  text-decoration: none;
  background-color: #3a3a3c;
  color: #ffffff;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.slider3list {
  margin: 0;
  color: #ffffff;
  background-color: #242426;
  padding: 63px 0px 70px 0px;
}

.slider3list h1 {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  padding: 0px 0px 0px 22px;
}

.slider3list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider3list ul li {
  margin: 19px;
  padding: 0;
}

.slider3list ul li a {
  padding: 14px 30px 13px 22px ;
  text-transform: uppercase;
  font-size: 25px;
  transition: 0.4s ease;
  border-bottom: solid 2px rgba(209, 209, 209, 0.2);
  z-index: 9999;
}

.slider3list ul li a:hover {
  transition: 0.4s ease;
  background-color: #e11313;
}

.slider4 {
  background-image: url(images/truck7.jpg);
  background-repeat: no-repeat;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

/* Четвёртый слайд */

.slider4text {
  text-align: left;
  margin: 0;
  padding: 63px 0px 70px 0px;
}

.slider4text h1  {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  padding: 0;
}

.slider4text p {
  margin: 0;
  padding: 20px 0px 60px 0px;
}

.nopadding {
  padding: 0;
}

/* Пятый слайд */

.slider5 {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #ebebeb;
}

.slider5div {
  margin: 0;
  padding: 0;
}

.slider5text {
  margin: 0;
  padding: 63px 0px 70px 0px;
  text-align: left;
}

.slider5text h1 {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
  padding: 0;
  color: #242426;
}

.slider5text h4 {
  font-weight: bold;
  padding: 20px 0px 30px 0px;
  color: #e11313;
}

.slider5text p {
  color: #000000;
  padding: 0px 0px 60px 0px;
  margin: 0;
}

.slider5text a {
  color: #ffffff;
  background-color: #e11313;
  padding: 12px 25px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.slider5text a:hover {
  text-decoration: none;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  background-color: #3a3a3c;
  color: #ffffff;
}

/* Шестой слайд */

.section6 {
  background-color: #3a3a3c;
  color: #ffffff;
}

.section6list {
  margin: 0;
}

.section6list ul {
  list-style: none;
  padding: 63px 0px 40px 0px;
}

.section6list ul li {
  margin: 0;
  padding: 0;
}

.section6list ul li a i {
  font-size: 60px;
  color: #ffffff;
  background-color: #e11313;
  margin-bottom: 30px;
  padding: 25px;
}

.section6list ul li .atext {
  font-weight: bold;
  font-size: 37px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  padding-left: 20px;
}

.section6list ul li .atext:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #e11313;
  text-decoration: none;
}

/* Седьмой слайд */

.section7 {
  color: #ffffff;
  background-color: #e11313;
  text-align: center;
  padding: 63px 0px 70px 0px;
}

.section7 h1 {
  font-weight: bold;
  font-size: 55px;
  margin: 0;
}

.section7 h4 {
  font-weight: bold;
  padding: 20px 0px 25px 0px;
}

.section7 p {
  margin: 0;
  padding: 0px 0px 50px 0px;
}

.section7 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.section7 ul li {
  float: left;
  display: inline-block;
}

.section7 ul li a i {
  font-size: 45px;
  color: #ffffff;
  background-color: #3a3a3c;
  padding: 20px;
  margin-right: 50px;
  width: 90px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.section7 ul li a i:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #3a3a3a;
}

footer {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 15px 0px;
}

footer p {
  margin: 0;
  padding: 0px 10px 0px 0px;
  float: left;
}

footer a {
  color: #ffffff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

footer a:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #e11313;
  text-decoration: none;
}

@media(max-width: 768px) {
   header {
     text-align: center;
   }


   .menu li {
     margin: 0;
     width: 100%;
     float: none;
   }

   .menu ul li a {
     font-size: 24px;
   }

   .menu ul li ul li a {
     font-size: 24px;
     margin: 0;
     border-bottom: solid 1px #ffffff;
     display: inline-block;
     padding: 38px;
   }

   .menu ul li ul li {
     padding: 0;
     margin: 0;
   }

   .nomarginphone {
     margin: 0;
   }

  .slider3list ul li a {
    padding: 0;
  }

  .slider1content .header {
    font-size: 45px;
  }

  .slider2text h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
  }

  .slider3text h1 {
    font-size: 35px;
  }

  .slider3list h1 {
    font-size: 35px;
    padding: 0;
  }

  .slider4text h1 {
    font-size: 30px;
  }

  .section7 ul li {
    display: block;
    float: none;
  }

  .section7 ul li a i {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media(max-width: 1200px) {
  .menu ul li a {
    font-size: 20px;
  }

  .menu ul li {
    float: left;
  }
}
